/*
 * Globals
 */

 .bg-main{
    background: rgb(14,42,71);
    background: linear-gradient(304deg, rgba(14,42,71,1) 0%, rgba(19,55,93,1) 70%); 
 }

 .bg-sec{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1287%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1288)'%3e%3c/rect%3e%3cpath d='M228.48 587.86C403.89 577.88 535.93 258.98 849.35 258.57 1162.77 258.16 1310.13 414.16 1470.22 415.37' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M798.84 615.13C931.42 538.14 860.44 88.71 1104.5 83.49 1348.57 78.27 1555.35 277.11 1715.83 279.49' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M221.15 610.06C372.81 564.22 405.79 142.81 637.24 132.03 868.7 121.25 845.29 202.03 1053.34 202.03 1261.38 202.03 1363.95 132.27 1469.43 132.03' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M148.29 658.21C355.02 640.28 496.41 216.19 850.59 215.79 1204.77 215.39 1365.92 469.37 1552.89 473.39' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M198.26 577.32C322.88 574.06 428.49 394.59 662.15 394.38 895.8 394.17 894.09 464.38 1126.03 464.38 1357.98 464.38 1472.64 394.58 1589.92 394.38' stroke='rgba(51%2c121%2c194%2c0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1287'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1545.06' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1288'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(19%2c 55%2c 93%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-third{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c183 C 57.6%2c160.2 172.8%2c59 288%2c69 C 403.2%2c79 460.8%2c227.6 576%2c233 C 691.2%2c238.4 748.8%2c106.8 864%2c96 C 979.2%2c85.2 1036.8%2c192.8 1152%2c179 C 1267.2%2c165.2 1382.4%2c57.4 1440%2c27L1440 560L0 560z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c344 C 96%2c362.6 288%2c423.2 480%2c437 C 672%2c450.8 768%2c410.4 960%2c413 C 1152%2c415.6 1344%2c442.6 1440%2c450L1440 560L0 560z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-four{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1237%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1238)'%3e%3c/rect%3e%3crect width='142.24' height='142.24' clip-path='url(%26quot%3b%23SvgjsClipPath1239%26quot%3b)' x='166.62' y='396.86' fill='url(%23SvgjsPattern1240)' transform='rotate(248.61%2c 237.74%2c 467.98)'%3e%3c/rect%3e%3cpath d='M486.55 493.52a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75zM499.32 483.88a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75zM512.09 474.24a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75zM524.86 464.59a5.6 5.6 0 1 0 8.93-6.75 5.6 5.6 0 1 0-8.93 6.75zM470.66 525.57a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75zM483.43 515.93a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75zM496.2 506.29a5.6 5.6 0 1 0 8.93-6.75 5.6 5.6 0 1 0-8.93 6.75zM508.96 496.65a5.6 5.6 0 1 0 8.94-6.75 5.6 5.6 0 1 0-8.94 6.75z' fill='rgba(47%2c 141%2c 241%2c 1)'%3e%3c/path%3e%3crect width='167.04' height='167.04' clip-path='url(%26quot%3b%23SvgjsClipPath1241%26quot%3b)' x='632.87' y='360.65' fill='url(%23SvgjsPattern1242)' transform='rotate(250.11%2c 716.39%2c 444.17)'%3e%3c/rect%3e%3crect width='314.40000000000003' height='314.40000000000003' clip-path='url(%26quot%3b%23SvgjsClipPath1243%26quot%3b)' x='631.97' y='213.93' fill='url(%23SvgjsPattern1244)' transform='rotate(87.47%2c 789.17%2c 371.13)'%3e%3c/rect%3e%3ccircle r='83.79916704541372' cx='747.61' cy='428.92' fill='rgba(47%2c 141%2c 241%2c 1)'%3e%3c/circle%3e%3crect width='172' height='172' clip-path='url(%26quot%3b%23SvgjsClipPath1245%26quot%3b)' x='389.24' y='305.35' fill='url(%23SvgjsPattern1246)' transform='rotate(330.72%2c 475.24%2c 391.35)'%3e%3c/rect%3e%3cpath d='M600.21 470.76a5.6 5.6 0 1 0-5.67-9.65 5.6 5.6 0 1 0 5.67 9.65zM592.11 456.97a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM584.01 443.17a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM575.91 429.37a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM630.21 490.26a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM622.11 476.46a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM614.01 462.66a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM605.91 448.87a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM660.21 509.75a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM652.11 495.95a5.6 5.6 0 1 0-5.67-9.65 5.6 5.6 0 1 0 5.67 9.65zM644.01 482.16a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66zM635.91 468.36a5.6 5.6 0 1 0-5.67-9.66 5.6 5.6 0 1 0 5.67 9.66z' stroke='rgba(47%2c 141%2c 241%2c 1)' stroke-width='2.12'%3e%3c/path%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1247%26quot%3b)' x='1196.53' y='291.43' fill='url(%23SvgjsPattern1248)' transform='rotate(100.22%2c 1346.53%2c 441.43)'%3e%3c/rect%3e%3cpath d='M327.62 310.52 L178.07999999999998 202.37L326.4217815062428 182.87321849375724z' stroke='rgba(47%2c 141%2c 241%2c 1)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='300' height='300' clip-path='url(%26quot%3b%23SvgjsClipPath1249%26quot%3b)' x='589.12' y='81.49' fill='url(%23SvgjsPattern1250)' transform='rotate(201.95%2c 739.12%2c 231.49)'%3e%3c/rect%3e%3crect width='70.8' height='70.8' clip-path='url(%26quot%3b%23SvgjsClipPath1251%26quot%3b)' x='1113.99' y='480.88' fill='url(%23SvgjsPattern1252)' transform='rotate(280.3%2c 1149.39%2c 516.28)'%3e%3c/rect%3e%3cpath d='M869.22 153 L852.66 128.18L871.6827120903313 129.84728790966878z' fill='rgba(47%2c 141%2c 241%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1237'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='100%25' cy='100%25' r='1545.06' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1238'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(19%2c 55%2c 93%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cpattern x='0' y='0' width='10.16' height='10.16' patternUnits='userSpaceOnUse' id='SvgjsPattern1240'%3e%3cpath d='M0 10.16L5.08 0L10.16 10.16' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1239'%3e%3ccircle r='35.56' cx='237.74' cy='467.98'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.92' height='13.92' patternUnits='userSpaceOnUse' id='SvgjsPattern1242'%3e%3cpath d='M6.96 1L6.96 12.92M1 6.96L12.92 6.96' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none' stroke-width='2.55'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1241'%3e%3ccircle r='41.76' cx='716.39' cy='444.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.86' height='7.86' patternUnits='userSpaceOnUse' id='SvgjsPattern1244'%3e%3cpath d='M0 7.86L3.93 0L7.86 7.86' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1243'%3e%3ccircle r='78.60000000000001' cx='789.17' cy='371.13'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.6' height='8.6' patternUnits='userSpaceOnUse' id='SvgjsPattern1246'%3e%3cpath d='M0 8.6L4.3 0L8.6 8.6' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1245'%3e%3ccircle r='43' cx='475.24' cy='391.35'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1248'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1247'%3e%3ccircle r='75' cx='1346.53' cy='441.43'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1250'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none' stroke-width='1.56'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1249'%3e%3ccircle r='75' cx='739.12' cy='231.49'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.08' height='7.08' patternUnits='userSpaceOnUse' id='SvgjsPattern1252'%3e%3cpath d='M3.54 1L3.54 6.08M1 3.54L6.08 3.54' stroke='rgba(47%2c 141%2c 241%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1251'%3e%3ccircle r='17.7' cx='1149.39' cy='516.28'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}


.page-wrapper{
    flex: 1 0 auto;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

 .menu-icon {
	padding: 0.25rem 0.75rem;
	font-size: 50px;
	line-height: 1;
    color: white;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
}

 .menu-close {
	padding: 0.25rem 0.75rem;
	font-size: 50px;
	line-height: 1;
    color: white;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: box-shadow 0.15s ease-in-out;
}

.nav-item {
	font-size: 50px;
	line-height: 100px;
}


/* 
Content
*/

.jumbotron{
    padding: 2rem;
}

.card-rounded{
    border-radius: 30px;
}

/* .my-border-blue{
    background-image: linear-gradient(rgb(47, 141, 241), rgb(47, 141, 241)),
                    linear-gradient(rgb(47, 141, 241), rgb(47, 141, 241)),
                    linear-gradient(rgb(47, 141, 241), rgb(47, 141, 241)),
                    linear-gradient(rgb(47, 141, 241), rgb(47, 141, 241));
    background-repeat: no-repeat;
    background-size: 8px 50%, 50% 8px, 8px 50%, 50% 8px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    padding: 20px;
}

.my-border-yellow{
    background-image: linear-gradient(rgb(255, 204, 0), rgb(255, 204, 0)),
                    linear-gradient(rgb(255, 204, 0), rgb(255, 204, 0)),
                    linear-gradient(rgb(255, 204, 0), rgb(255, 204, 0)),
                    linear-gradient(rgb(255, 204, 0), rgb(255, 204, 0));
    background-repeat: no-repeat;
    background-size: 8px 50%, 50% 8px, 8px 50%, 50% 8px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    padding: 20px;
} */

.my-text-blue{
    color: rgb(47, 141, 241);
}

.my-text-yellow{
    color: rgb(255, 204, 0);
}

.my-anim{
    width: 450px;
    height: 400px;
}

.my-anim2{
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 780px) {
    
    .menu-icon.menu-close{
        font-size: 30px;
        display: inline-block;
  width: 1.5em;
  height: 1.5em;
    }

    .nav-item{
        font-size: 30px;
        line-height: 50px;
    }

    .my-anim{
        width: 300px;
        height: 300px;
        margin-top: 30px;
    }

    .my-img{
        width: 300px;
        height: 300px;
    }
  }
